/* Standard */
body {
  font-size: 20px;
  line-height: 30px;
  max-width: 640px;
	min-width: 320px;
}

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.l-site_menu,
.l-site_menu body,
.l-site_form,
.l-site_form body {
  overflow: hidden;
  position: relative;
}

.l-site_menu .wrapper,
.l-site_form .wrapper {
  height: 100%;
  overflow: hidden;
}
/* \Standard */

/* I Elements */
.wrapper {
  max-width: 640px;
  min-width: 320px;
  overflow: hidden;
}

.block__inner {
	margin: 0 15px;
  width: auto;
}

.wrapper-inner {
  background: #fff;
  -webkit-box-shadow: 0 0 45px rgba(0,0,0,.11);
  box-shadow: 0 0 45px rgba(0,0,0,.11);
  left: 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
}

.wrapper_sided .wrapper-inner {
  -webkit-transform: translate(-640px,0);
  -ms-transform: translate(-640px,0);
  -o-transform: translate(-640px,0);
  transform: translate(-640px,0);
}

.l-main {
  overflow: hidden;
}
/* \I Elements */

/* Unique Elements */
.i-pc {
  display: none !important;
}

.i-mobile {
  display: block !important;
}

.button {
  height: 36px;
  line-height: 36px;
}

.header__title {
  font-size: 38px;
  line-height: 38px;
  margin: 0 0 18px 0;
}

.header__paragraph {
  font-size: 18px;
  line-height: 27px;
  margin: 0 0 25px 0;
}

.l-page_screen main {
  min-height: 560px;
  padding-bottom: 340px;
  padding-top: 62px;
}

.logo-link {
  display: block;
  height: 13px;
  position: relative;
  width: 124px;
}
/* \Unique Elements */

/* Navigation */
.block-navigation {
  border-width: 2px;
  height: 62px;
  min-width: 320px;
}

.menu-button {
  background: transparent url(<?=SITE_TEMPLATE_PATH?>/assets/css/images/icons/menu.svg) no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  cursor: pointer;
  -webkit-filter: invert(0);
  -o-filter: invert(0);
  filter: invert(0);
  height: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: 19px;
}

.block-navigation_index .menu-button {
  -webkit-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
}

.l-site_menu .block-navigation .menu-button,
.block-navigation_index.block-navigation_scroll .menu-button {
  -webkit-filter: invert(0);
  -o-filter: invert(0);
  filter: invert(0);
}

.block-navigation__logo-wrapper {
  padding: 0 0 0 37px;
}

.block-navigation .logo-link {
  height: 13px;
  width: 124px;
}

.navigation-menu {
  display: none;
}

.block-navigation .custom-select_languages,
.block-navigation .languages {
  display: none !important;
}

.additional-item {
  margin: 0 0 0 15px;
}

.additional-item-favorite {
  margin-top: 0 !important;
}

.additional-item-search {
  margin-top: 0 !important;
}

.additional-item-cart {
  margin-top: -1px !important;
}

.additional-search-form__input {
  -webkit-box-shadow: -20px 0 0 10px #fff;
  box-shadow: -20px 0 0 10px #fff;
}
/* \Navigation */

/* Menu */
.block-menu {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  -webkit-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  -o-transform: translate(-100%,0);
  transform: translate(-100%,0);
  -webkit-transition: -webkit-transform .15s ease, opacity .25s ease, visibility .25s ease;
  -o-transition: -o-transform .15s ease, opacity .25s ease, visibility .25s ease;
  transition: transform .15s ease, opacity .25s ease, visibility .25s ease;
  visibility: hidden;
  width: 100%;
  z-index: 12;
}

.block-menu .block__inner {
  min-height: 600px;
}

.l-site_menu .block-menu {
  opacity: 1;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  visibility: visible;
}

.block-menu_brands {
  opacity: 0;
  visibility: hidden;
  z-index: 11;
}

.block-menu_brands_active {
  opacity: 1;
  visibility: visible;
  z-index: 13;
}

.block-menu__pic {
  background: transparent no-repeat right bottom;
  -webkit-background-size: contain;
  background-size: contain;
  bottom: 0;
  height: 317px;
  position: absolute;
  right: -15px;
  width: 160px;
}

.block-menu__close {
  background: #f5f5f5 no-repeat center center;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.block-menu__close:hover,
.block-menu__close:active,
.block-menu__close:focus {
  background-color: #f5f0e7;
}

.block-menu__top {
  padding: 65px 0 0 15px;
}

.block-menu__logo-wrapper {
  margin: 0 0 33px 0;
}

.block-menu .logo-link {
  height: 18px;
  width: 164px;
}

.menu-menu__item-wrapper {
  margin: 0 0 20px 0;
}

.menu-menu__item {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 100%;
  text-transform: uppercase;
}

.menu-menu__item:after {
  display: none;
}

.block-menu__bottom {
  bottom: 28px;
  left: 15px;
  position: absolute;
}

.menu-languages {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.menu-languages__item {
  background: #fff;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  font-weight: 700;
  height: 28px;
  letter-spacing: .05em;
  line-height: 28px;
  text-align: center;
  -webkit-transition: border-color .15s ease, background-color .15s ease;
  -o-transition: border-color .15s ease, background-color .15s ease;
  transition: border-color .15s ease, background-color .15s ease;
  text-transform: uppercase;
  width: 33px;
}

.menu-languages__item:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  border-right: 1px solid #fff;
}

.menu-languages__item:last-child {
  border-left: 1px solid #fff;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}

.menu-languages__item_active {
  background-color: #f7f3ed;
  border-color: #f2e4cf !important;
}

.menu-languages__item:after {
  display: none;
}
/* \Menu */

::-webkit-scrollbar {
  width: 3px !important;
}

::-webkit-scrollbar-thumb {
  ackground-color: rgba(68,68,68,.2) !important;
  border: 1px solid transparent !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(68,68,68,.5) !important;
}

.preloader {
  z-index: 12;
}