/* Header */
.block-header {
  height: 589px;
}

.block-header__video {
  display: none;
}

.block-header__pic {
  bottom: 26px;
  height: 495px;
  right: -20px;
  width: 340px;
}

.block-header__slides-wrapper {
  bottom: 118px;
  height: 385px;
  right: 0;
  width: 290px;
}

.product-slide {
  position: relative;
}

.product-slide__content {
  bottom: 15px;
  left: 20px;
}

.product-slide__title {
  font-size: 18px;
  line-height: 120%;
  margin: 0 0 13px 0;
}

.product-slide__price {
  font-size: 18px;
  line-height: 120%;
}

.product-slide__price s {
  padding: 0 0 0 14px;
}

.block-header__slides-controls {
  bottom: -62px;
  right: 0;
}

.block-header__note {
  display: none;
}

.block-header__header {
  display: none;
}

.block-header-socials {
  display: none;
}
/* \Header */