@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/local/templates/nob/assets/fonts/sf/Light.eot');
    src: url('/local/templates/nob/assets/fonts/sf/Light.eot?#iefix') format('embedded-opentype'),
        url('/local/templates/nob/assets/fonts/sf/Light.woff2') format('woff2'),
        url('/local/templates/nob/assets/fonts/sf/Light.woff') format('woff'),
        url('/local/templates/nob/assets/fonts/sf/Light.ttf') format('truetype'),
        url('/local/templates/nob/assets/fonts/sf/Light.svg#SFUIDisplay-Light') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/local/templates/nob/assets/fonts/sf/Regular.eot');
    src: url('/local/templates/nob/assets/fonts/sf/Regular.eot?#iefix') format('embedded-opentype'),
        url('/local/templates/nob/assets/fonts/sf/Regular.woff2') format('woff2'),
        url('/local/templates/nob/assets/fonts/sf/Regular.woff') format('woff'),
        url('/local/templates/nob/assets/fonts/sf/Regular.ttf') format('truetype'),
        url('/local/templates/nob/assets/fonts/sf/Regular.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/local/templates/nob/assets/fonts/sf/Medium.eot');
    src: url('/local/templates/nob/assets/fonts/sf/Medium.eot?#iefix') format('embedded-opentype'),
        url('/local/templates/nob/assets/fonts/sf/Medium.woff2') format('woff2'),
        url('/local/templates/nob/assets/fonts/sf/Medium.woff') format('woff'),
        url('/local/templates/nob/assets/fonts/sf/Medium.ttf') format('truetype'),
        url('/local/templates/nob/assets/fonts/sf/Medium.svg#SFUIDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/local/templates/nob/assets/fonts/sf/Semibold.eot');
    src: url('/local/templates/nob/assets/fonts/sf/Semibold.eot?#iefix') format('embedded-opentype'),
        url('/local/templates/nob/assets/fonts/sf/Semibold.woff2') format('woff2'),
        url('/local/templates/nob/assets/fonts/sf/Semibold.woff') format('woff'),
        url('/local/templates/nob/assets/fonts/sf/Semibold.ttf') format('truetype'),
        url('/local/templates/nob/assets/fonts/sf/Semibold.svg#SFUIDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/local/templates/nob/assets/fonts/sf/Bold.eot');
    src: url('/local/templates/nob/assets/fonts/sf/Bold.eot?#iefix') format('embedded-opentype'),
        url('/local/templates/nob/assets/fonts/sf/Bold.woff2') format('woff2'),
        url('/local/templates/nob/assets/fonts/sf/Bold.woff') format('woff'),
        url('/local/templates/nob/assets/fonts/sf/Bold.ttf') format('truetype'),
        url('/local/templates/nob/assets/fonts/sf/Bold.svg#SFUIDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  font: 400 20px/1.5em 'SF UI Display', sans-serif;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
  -webkit-transition: color .15s ease, border-color .15s ease;
  -o-transition: color .15s ease, border-color .15s ease;
  transition: color .15s ease, border-color .15s ease;
}

a:after {
  border-bottom: 2px dotted currentColor;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  opacity: .5;
  position: absolute;
  -webkit-transition: opacity .15s ease, visibility .15s ease;
  -o-transition: opacity .15s ease, visibility .15s ease;
  transition: opacity .15s ease, visibility .15s ease;
  width: 100%;
}

a:hover,
a:focus,
a:active {
  border-color: transparent;
  color: #a1a09e;
  outline: 0;
}

a:hover:after,
a:focus:after,
a:active:after {
  opacity: 0;
  visibility: hidden;
}

a:focus {
  outline: 0;
}

.button {
  background: transparent;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: .42em;
  -moz-border-radius: .42em;
  border-radius: .42em;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font: 700 .7em/2.35em 'SF UI Display', sans-serif;
  height: 2.35em;
  min-width: 1em;
  padding: 0 .85em;
  position: relative;
  text-decoration: none;
  -webkit-transition: border-color .15s ease, background-color .15s ease, color .15s ease;
  -o-transition: border-color .15s ease, background-color .15s ease, color .15s ease;
  transition: border-color .15s ease, background-color .15s ease, color .15s ease;
  vertical-align: middle;
}

.block_dark .button {
  border-color: #808080;
  border-color: rgba(255,255,255,.5);
  color: #fff;
  color: rgba(255,255,255,.5);
}

.button:hover, 
.button:focus, 
.button:active {
  background-color: #f7f3ed;
  border-color: #f7f3ed;
  color: #000;
}

.block_dark .button:hover,
.block_dark .button:hover,
.block_dark .button:hover {
  background-color: transparent;
  border-color: #f0e8db;
  border-color: rgba(240,232,219,.7);
  color: #fff;
  color: rgba(255,255,255,.7);
}

.button:after {
  display: none;
}

.button:hover .button__arrow,
.button:focus .button__arrow,
.button:active .button__arrow {
  opacity: 1;
}

.button:active .button__arrow {
  -webkit-filter: invert(100%) brightness(500%);
  -o-filter: invert(100%) brightness(500%);
  filter: invert(100%) brightness(500%);
}