/* Filter */
.filter-category {
	border-top: 1px solid transparent;
	border-top: 1px solid rgba(0,0,0,.0);
	margin: 0;
	padding: 0;
	-webkit-transition: border-color .15s ease, margin .15s ease, padding .15s ease;
	-o-transition: border-color .15s ease, margin .15s ease, padding .15s ease;
	transition: border-color .15s ease, margin .15s ease, padding .15s ease;
	width: 13.15em;
}
.categori_id_90{display: none!important}
.filter-category_opened {
	border-color: #eaeaea;
	margin: .7em 0 .3em 0;
	padding: .8em 0 0 0;
}

.filter-category_brand.filter-category_opened {
	margin: .7em 0 1em 0;
}

.filter-category:first-child {
	border: none;
	margin-top: -.35em;
	padding: 0;
}

.filter-category:last-child {
	margin: 0;
}

.filter-category__header {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 0 0 .15em 0;
}

.filter-category__title {
	cursor: pointer;
	font-size: .8em;
	font-weight: 600;
	opacity: 1;
	overflow: hidden;
	padding: 0 0 0 1.25em;
	position: relative;
	text-overflow: ellipsis;
	-webkit-transition: opacity .15s ease;
	-o-transition: opacity .15s ease;
	transition: opacity .15s ease;
	white-space: nowrap;
}

.filter-category__title:hover {
	opacity: .4;
}

.filter-category__arrow {
	background: transparent no-repeat center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	height: .5em;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
	-webkit-transition: opacity .15s ease, visibility .15s ease;
	-o-transition: opacity .15s ease, visibility .15s ease;
	transition: opacity .15s ease, visibility .15s ease;
	visibility: hidden;
	width: .75em;
}

.filter-category_opened .filter-category__arrow {
	opacity: 1;
	visibility: visible;
}

.filter-category__reset {
	color: #969696;
	font-size: .6em;
	line-height: 160%;
	margin: -.2em 0 0 0;
	opacity: 0;
	-webkit-transition: opacity .15s ease, visibility .15s ease, color .15s ease;
	-o-transition: opacity .15s ease, visibility .15s ease, color .15s ease;
	transition: opacity .15s ease, visibility .15s ease, color .15s ease;
	visibility: hidden;
}

.filter-category__reset:hover {
	color: #000;
}

.filter-category_opened .filter-category__reset {
	opacity: 1;
	visibility: visible;
}

.filter-group {
	margin: 0 0 0 1.2em;
	max-height: 0;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: max-height .15s ease, opacity .15s ease, visibility .15s ease;
	-o-transition: max-height .15s ease, opacity .15s ease, visibility .15s ease;
	transition: max-height .15s ease, opacity .15s ease, visibility .15s ease;
	visibility: hidden;
}

.filter-category_opened .filter-group {
	max-height: 8.5em;
	opacity: 1;
	visibility: visible;
}

.filter-category_opened .filter-group_color {
	margin: .6em 0 0 .8em;
}

.filter-category_opened .filter-group_long {
	max-height: 200em;
}

.filter-group__inner {
	height: 100%;
}

.filter-group_columns-2 .filter-group__inner {
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	-o-column-gap: 0;
	column-gap: 0;
	-webkit-column-fill: balance;
	-moz-column-fill: balance;
	-o-column-fill: balance;
	column-fill: balance;
	-webkit-columns: 2 auto;
	-moz-columns: 2 auto;
	-o-columns: 2 auto;
	columns: 2 auto;
	padding: 0 1.5em 0 0;
}

.filter-group_columns-3 .filter-group__inner {
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	-o-column-gap: 0;
	column-gap: 0;
	-webkit-column-fill: balance;
	-moz-column-fill: balance;
	-o-column-fill: balance;
	column-fill: balance;
	-webkit-columns: 3 auto;
	-moz-columns: 3 auto;
	-o-columns: 3 auto;
	columns: 3 auto;
	padding: 0 .5em 0 0;
}

.filter-group_inline .filter-group__inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.filter-group::-webkit-scrollbar {
	height: .2em;
  min-height: 4px;
  min-width: 4px;
	width: .2em;
}

.filter-group::-webkit-scrollbar-thumb {
	background-color: #c6c6c6;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  -ms-border-radius: .2em;
  -o-border-radius: .2em;
  border-radius: .2em;
}

.filter-group::-webkit-scrollbar-thumb:active {
	background-color: #9e9e9e;
}

.filter-group::-webkit-scrollbar-track {
  background-color: #eaeaea;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  -ms-border-radius: .2em;
  -o-border-radius: .2em;
  border-radius: .2em;
}

.filter-checkbox {
	-webkit-align-items: center;
	align-items: center;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	margin: 0 0 .2em 0;
	white-space: nowrap;
}

.filter-group_inline .filter-checkbox {
	margin: 0 .44em .35em 0;
}

.filter-checkbox__radio {
	background: #fff;
	border: 1px solid #bbb;
	border: 1px solid rgba(0,0,0,.3);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	height: .65em;
	margin: 0 .4em 0 0;
	position: relative;
	-webkit-transition: border-color .15s ease, -webkit-box-shadow .15s ease;
	-o-transition: border-color .15s ease, box-shadow .15s ease;
	transition: border-color .15s ease, box-shadow .15s ease;
	width: .65em;
}

.filter-checkbox_color .filter-checkbox__radio {
	border-color: #fff;
	border-width: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 1.25em;
	width: 1.25em;
}

.filter-group_inline .filter-checkbox__radio {
	margin: 0;
}

.filter-checkbox:hover .filter-checkbox__radio {
	border-color: #4d4d4d;
	border-color: rgba(0,0,0,.7);
}

.filter-checkbox_color:hover .filter-checkbox__radio {
	border-color: #e3e3e3;
}

.filter-checkbox_active .filter-checkbox__radio {
	border-color: #000;
}

.filter-checkbox_color.filter-checkbox_active .filter-checkbox__radio {
	border-color: #cdcdcd;
}

.filter-checkbox .filter-checkbox__radio:before {
	background: #000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	content: '';
	height: .35em;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: opacity .15s ease, visibility .15s ease;
	-o-transition: opacity .15s ease, visibility .15s ease;
	transition: opacity .15s ease, visibility .15s ease;
	visibility: hidden;
	width: .35em;
}

.filter-checkbox_color .filter-checkbox__radio:before {
	background: transparent;
	border: 4px solid #fff;
	bottom: -1px;
	content: '';
	display: block !important;
	height: auto;
	left: -1px;
	opacity: 1;
	position: absolute;
	right: -1px;
	top: -1px;
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	visibility: visible;
	width: auto;
}

.filter-checkbox_active .filter-checkbox__radio:before {
	opacity: 1;
	visibility: visible;
}

.filter-checkbox__name {
	font-size: .7em;
  max-width: 13em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-checkbox__additional {
	color: #969696;
	font-size: .6em;
	margin: 0 0 0 .33em;
}
/* \Filter */

/* Catalog */
.block-catalog .block__inner {
	height: auto;
	padding: 1.65em 0 6.5em 0;
}

.block-catalog__header .header__title {
	font-size: 4em;
	line-height: 1em;
	margin: 0 0 .3em -.06em;
}

.block-catalog__top {
	-webkit-align-items: center;
	align-items: center;
	border-bottom: 1px solid #eaeaea;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 0 0 1.1em 0;
	padding: 0 0 1em 0;
}

.catalog-menu,
.catalog-sort {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.catalog-sort {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.catalog-menu__item {
	background: transparent;
	background: rgba(255,255,255,.0);
	font-size: .8em;
	height: 1.625em;
	line-height: 1.625em;
	margin: 0 1em 0 0;
	padding: 0 0.6875em;
	-webkit-transition: background-color .15s ease, color .15s ease;
	-o-transition: background-color .15s ease, color .15s ease;
	transition: background-color .15s ease, color .15s ease;
}

.catalog-menu__item_active {
	background-color: #f0e8db !important;
	color: #000 !important;
}

.catalog-menu__item:last-child {
	margin: 0;
}

.catalog-menu__item:after {
	display: none;
}

.catalog-sort {
	padding: 0 .5em 0 0;
}

.catalog-sort__item {
	color: #969696;
	font-size: .7em;
	line-height: 150%;
	margin: 0 0 0 2em;
	position: relative;
}

.catalog-sort__item:hover,
.catalog-sort__item:active,
.catalog-sort__item:focus,
.catalog-sort__item_active {
	color: #000;
}

.catalog-sort__direction {
	height: .79em;
	min-width: 3px;
	opacity: 0;
	position: absolute;
	right: -.71em;
	top: 50%;
	-webkit-transform: translate(0,-50%) rotate(360deg);
	-ms-transform: translate(0,-50%) rotate(360deg);
	-o-transform: translate(0,-50%) rotate(360deg);
	transform: translate(0,-50%) rotate(360deg);
	-webkit-transition: opacity .15s ease, visibility .15s ease, -webkit-transform .15s ease;
	-o-transition: opacity .15s ease, visibility .15s ease, -o-transform .15s ease;
	transition: opacity .15s ease, visibility .15s ease, transform .15s ease;
	visibility: hidden;
	width: .25em;
}

.catalog-sort__item_asc .catalog-sort__direction {
	-webkit-transform: translate(0,-50%) rotate(180deg);
	-ms-transform: translate(0,-50%) rotate(180deg);
	-o-transform: translate(0,-50%) rotate(180deg);
	transform: translate(0,-50%) rotate(180deg);
}

.catalog-sort__item:hover .catalog-sort__direction,
.catalog-sort__item:active .catalog-sort__direction,
.catalog-sort__item:focus .catalog-sort__direction,
.catalog-sort__item_active .catalog-sort__direction {
	opacity: 1;
	visibility: visible;
}

.catalog-sort__direction:before {
	background: #000;
	content: '';
	height: .79em;
	left: 50%;
	min-width: 1px;
	position: absolute;
	top: 0;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
	width: .0714em;
}

.catalog-sort__direction:after {
	background: #000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	bottom: 0;
	content: '';
	height: .25em;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
	width: .25em;
}

.block-catalog__main,
.block-catalog__bottom {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
}

.block-catalog__products {
	width: 42.4em;
}

.block-catalog__items {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 0 0 .25em 0;
	width: 100%;
}

.product {
	height: auto;
	margin: 0 0 2em 0;
	min-height: 18em;
	position: relative;
	text-align: center;
	width: 13.15em;
}

.product__images {
	background: #fff;
	height: 13.95em;
	margin: 0 auto .75em auto;
	position: relative;
	width: 11.25em;
}

.product__image {
	background: #fff no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.product__image_second {
	opacity: 0;
	-webkit-transition: opacity .15s ease, visibility .15s ease;
	-o-transition: opacity .15s ease, visibility .15s ease;
	transition: opacity .15s ease, visibility .15s ease;
	visibility: hidden;
}

.product:hover .product__image_second {
	opacity: 1;
	visibility: visible;
}

.product__brand {
	font-size: .55em;
	font-weight: 700;
	letter-spacing: .2em;
	line-height: 120%;
	margin: 0 0 .8em 0;
	text-transform: uppercase;
}

.product__brand,
.product__title,
.product__price {
	overflow: hidden;
	padding: 0 1em;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.product__title {
	font-size: .8em;
	font-weight: 400;
	line-height: 120%;
	margin: 0 0 .45em 0;
}

.product__price-wrapper {
	-webkit-align-items: baseline;
	align-items: baseline;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	line-height: 120%;
	text-align: center;
}

.product__price-wrapper.has-preorder {
	-webkit-align-items: center;
	align-items: center;
}

.product__price-wrapper.has-sold {
	-webkit-align-items: center;
	align-items: center;
}

.product__old-price {
	color: #969696;
	display: none;
	font-size: .7em;
	margin: 0 .85em 0 0;
	text-decoration: line-through;
}

.product__price-wrapper.has-old .product__old-price {
	display: block;
}

.product__price-wrapper.has-preorder .product__old-price {
	display: none !important;
}

.product__price-wrapper.has-sold .product__old-price {
	display: none !important;
}

.product__price {
	font-size: .8em;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.product__price-wrapper.has-old .product__price {
	color: #f07171;
}

.product__price-wrapper.has-preorder .product__price {
	color: #000 !important;
}

.product__price-wrapper.has-sold .product__price {
	display: none !important;
}

.product__preorder {
	background: #f0e8db;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	-ms-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	display: none;
	font-size: .5em;
	font-weight: 600;
	height: 1.7em;
	line-height: 1.7em;
	margin: 0 0 0 1em;
	padding: 0 .5em;
}

.product__price-wrapper.has-preorder .product__preorder {
	display: block;
}

.product__price-wrapper.has-sold .product__preorder {
	display: block;
	margin: 0;
}

.product__link {
	font-size: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.product__link:after {
	display: none;
}

.block-catalog__bottom {
	-webkit-align-items: center;
	align-items: center;
	padding: 0 0 0 .85em;
}

.block-catalog__more {
	color: #969696;
	font-size: .7em;
	line-height: 150%;
}

.block-catalog__more:hover, 
.block-catalog__more:focus, 
.block-catalog__more:active {
	color: #000;
}

.block-catalog__paginator {
	padding: .1em 1.4em 0 0;
}

.product-empty {
	height: 0;
	width: 13.15em;
}
/* \Catalog */